############################
# Java / Maven
############################
target/
*.class
*.jar
*.war
*.ear

############################
# IntelliJ
############################
.idea/
*.iml

############################
# VS Code
############################
.vscode/

############################
# Eclipse
############################
.project
.classpath
.settings/

############################
# Logs
############################
*.log

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Allure
############################
allure-results/
allure-report/

############################
# Node
############################
node_modules/
npm-debug.log*
package-lock.json

############################
# Playwright
############################
playwright-report/
test-results/

############################
# Environment
############################
.env
.env.*

############################
# Misc
############################
coverage/
dist/

############################
# Reports
############################
e2e-tests/reports/

############################
# Logs
############################
.log